<?xml version="1.0" encoding="utf-8"?>
<!-- 

(c) Vladimir Lebedev-Schmidthof <dair@dair.spb.ru>
Saint Petersburg, Russia
Specially for Albion Games (http://albiongames.org)


License text:

            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
                    Version 2, December 2004

 Copyright (C) 2004 Sam Hocevar <sam@hocevar.net>

 Everyone is permitted to copy and distribute verbatim or modified
 copies of this license document, and changing it is allowed as long
 as the name is changed.

            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
   TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION

  0. You just DO WHAT THE FUCK YOU WANT TO. 

http://sam.zoy.org/wtfpl/

-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.albiongames.bladerunner.vktest">
    <application android:icon="@drawable/icon" android:label="vktest" android:debuggable="true">
        <activity android:name=".VKTest" android:label="Тест Войта-Кампфа">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" android:label="Настройки"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-sdk android:minSdkVersion="3"
              />
</manifest>
